<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="http://passport.cnblogs.com/scripts/jsencrypt.min.js"></script>
    <script type="text/javascript" src="Scripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="Scripts/RSA.js"></script>
    <script type="text/javascript" src="Scripts/BigInt.js"></script>
    <script type="text/javascript" src="Scripts/Barrett.js"></script>
    <script type="text/javascript">
        function getPublicKey() {
            var pubKey = "";
            if ($.cookie('publicKey') == null) {
                $.ajax({
                    url: "@Url.RouteUrl("GetRSAPubKey")",
                    type: "GET",
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    async: false,
                    data: {},
                    dataType: "json",
                    success: function (data) {
                        if (data.Code == 0) {
                            pubKey = data.RsaPublicKey;
                            $.cookie('publicKey', pubKey, { expires: 1 / 1440 });
                        }
                        else {
                            Config.Method.JudgeCode(data, 1);
                        }
                    }
                })
            }
            else {
                pubKey = $.cookie('publicKey');
            }
            return pubKey;
        }

        function RSAEncrypt_EX(publicKey, plaitString) {
            var encrypt = new JSEncrypt();
            encrypt.setPublicKey(publicKey);
            return encrypt.encrypt(plaitString);
        }

        $(function () {
            $('#testme').click(function () {
                var uName = $('#username').val();
                var uPwd = $('#passwd').val();
                if (uName == '') {
                    alert("用户名不能为空");
                    return;
                }
                if (uPwd == '') {
                    alert("密码不能为空");
                    return;
                }
                var publicKey = getPublicKey();
                var encPwd = RSAEncrypt_EX(publicKey, uPwd);
                var encName = RSAEncrypt_EX(publicKey, uName);
                $.ajax({
                    type: "POST",
                    url: "@Url.RouteUrl("UserLogin")",
                    data: { "userName": encName, "pwd": encPwd, 'key': publicKey, 'URL': "" },
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    async: false,
                    dataType: "json",
                    success: function (data) {
                        if (data.result == true) {
                            window.location.href = data.url;
                            return false;
                        }
                        else {
                            alert(data.message);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.status + '||' + XMLHttpRequest.readyState + '||' + textStatus);
                    }
                });
            });
        })
    </script>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <label for="pubkey">Public Key</label><br />
            <textarea id="pubkey" rows="15" cols="65">
                MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCk/pAhDSDfWsfXNZqMK9fcBPVn
                qhsFZW34w+6Psi25gCI8FXOamMAGvfSVgUjquDsh+Xn3ccSKUWkd/iNiIsw7pXQW
                /Zy1cBRI5bUK/VVGPGrGeQll0gO1tC8Nlh/4+1YXqX0z0xEHAyoNsJxBlNKR8LLH
                E8gB5wEWyqvvKheaVwIDAQAB
            </textarea><br />
            <label for="input">Text to encrypt:</label><br />
            name:<input id="username" name="username" type="text"><br />
            password:<input id="passwd" name="passwd" type="password"><br />
            <input id="testme" type="button" value="submit" /><br />
        </div>
    </form>
</body>
</html>